@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif
  background: #ff8;
}

.cabecalho{
  padding-top: 80px;
  width: 100%;
  display: table;
  margin: -1% 0% 0% -1%;
  background-color: #39393B;
}

.menu{
  margin-top: 5%;
  text-align: center; 
  background-color: rgba(0,0,0,.4);
}
